# Clerk Authentication
REACT_APP_CLERK_PUBLISHABLE_KEY=pk_test_bGl2aW5nLWhhbXN0ZXItNTkuY2xlcmsuYWNjb3VudHMuZGV2JA
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bGl2aW5nLWhhbXN0ZXItNTkuY2xlcmsuYWNjb3VudHMuZGV2JA
# Optional JWT template (uncomment and set if you created one in Clerk)
# REACT_APP_CLERK_JWT_TEMPLATE=alwrity-backend

# API Configuration
REACT_APP_API_BASE_URL=http://localhost:8000
